html {
    scroll-behavior: auto; 
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background: #222;
    color: white;
    padding: 0.1rem;
    text-align: center;
}

nav {
    background: #444;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 0.5rem;
}

nav a {
    color: white;
    text-decoration: none;
}

section {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 1rem;
    background: white;
    border-radius: 8px;
}

h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 0.5rem;
}

ul li {
    margin-bottom: 30px;
}

ul li ul {
    margin-top: 8px;
    margin-left: -10px;
    margin-bottom: 20px;
}

ul li ul li {
    margin-bottom: 12px;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

.paragraphe {
    line-height: 150%;
    text-align: justify;
}

.sub_description {
    margin-top: -10px;
    margin-bottom: 20px;
}

.project_item {
  margin-bottom: 30px;
  width: 800px;
}

.project_item p {
  margin-bottom: 0;
  margin-right: -50px;
  line-height: 1.7;
  text-align: justify;
  position: relative;
  padding-left: 40px;
  font-size: 1.1rem;
}

.project_number {
  font-weight: bold;
  position: absolute;
  left: 15;
  top: 0;
  font-size: 1.2rem;
}

.video_container {
  position: relative;
  display: inline-block;
  margin-top: 8px;
  margin-bottom: 25px;
  margin-left: 50px;
}

.project_video {
  display: block;
  width: 800px;
  height: 450px;
  object-fit: cover;
  margin: 0;
}

.video_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  font-size: 50px;
  opacity: 1;
  transition: opacity 0.3s;
}

.video_container.playing:hover .video_overlay {
  background-color: rgba(0,0,0,0.4);
}

.video_container.playing:not(:hover) .video_overlay {
  opacity: 0;
  pointer-events: auto;
}